{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Country Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {% if cuntryview == '1'%}
                  <a href="{% url 'countrytable'%}?menumanagement_id={{ idmngmnt }}">View All</a>
                {%endif%}</li>
              <li class="breadcrumb-item active">Country</li>
            </ol>
          </div>
        </div>
      </div>
<!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Country</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <!-- <i class="fas fa-minus"></i> -->
                </button>
              </div>
            </div>
            <form method="POST", action="{% url 'countryform' %}?menumanagement_id={{ idmngmnt }}">
             
              
                {% csrf_token %}
                <div class="card-body" >
              
                  <div class="form-group">
                   <label for="exampleInputBranchName">Country Name</label>
                    <input type="text" class="form-control" id="exampleInputAddress" name="countryname" placeholder="Enter Country Name" required> 
                    
                  </div>
                 
                </div>
             
              <div class="card-footer">
                {% if messages %}
        {% for message in messages %}
        <p style="color:green;">{{message}}</p> 
        {% endfor %}
        {% endif %}
                {%if cuntryadd == '1' %}
                  <button type="submit" class="btn btn-primary">Submit</button>
                {%endif%}
                </div>
              </form>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
     
      </div>

      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
