{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Enquiry Details </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {%if enqobjmngview == '1'%}<a href="{% url 'displayenquiry' %}?menumanagement_id={{ idmngmnt }}">View All</a>
                {%endif%}</li>
              <li class="breadcrumb-item active">Enquiry Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Enquiry Details</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <!-- <i class="fas fa-minus"></i> -->
                </button>
              </div>
            </div>
            <form method="POST", action="{% url 'enquiryedit' %}?menumanagement_id={{ idmngmnt }}">
             
                {% csrf_token %}
     
                <div class="row">
                    {%for enq in enq%}
                    <div class="col-md-6">
                        <div class="card">
                      
                          <div class="card-body">
                             <div class="form-group">
                              <label for="exampleInputEmail1">Name</label>
                              <input type="text" class="form-control" id="enqname" name="enqname" value="{{enq.name}}">
                              <input type="hidden" class="form-control" id="enqid" name="enqid" value="{{enq.id}}">
                              <input type="hidden" class="form-control" id="stid" name="stid" value="1">
                            </div>
          
                            <div class="form-group">
                              <label for="exampleInputEmail1">Age</label>
                              <input type="text" class="form-control" id="age" name="age"  value="{{enq.age}}" >
                             
                            </div>
                           
          
                            <div class="form-group">
                              <label for="exampleInputRegisterNo">Phone Number</label>
                              <input type="text" class="form-control" id="phno" name="phno" value="{{enq.Phone_number}}" required>
                            </div>
                            
                           
                          </div>
                        </div>
                      </div>
                          <!-- /.card-body -->
                       
                        <div class="col-md-6">
                        <div class="card">
                       
                       
                          <div class="card-body">
                            
                            <div class="form-group">
                              <label for="exampleInputHouse">Complaint</label>
                          <textarea class="form-control"  name="desc">{{enq.complaint}}</textarea>
                            
                            </div>
                            <div class="form-group">
                              <label for="exampleInputBranchName">Call Or message</label>
                              <select class="form-control" name="callormsg" required>
                                <option value="Call" {% if enq.callormsg == 'Call' %}selected{% endif %}>Call</option>
                                <option value="Message" {% if enq.callormsg == 'message' %}selected{% endif %}>Message</option>
                            </select>
                             </div>
                            
                             <div class="form-group">
                              <label for="exampleInputBranchName">Source Details</label>
                              <select class="form-control" name="sourcedt" required>
                                    <option selected disabled value="">Select</option>
                                    {%for  i in sourcedt %}
                                    <option value="{{i.id}}"  {% if i.id == enq.sourrcdts_id %}selected{% endif %}>{{i.sourcename}}</option>
                                   {%endfor%}
                              </select>
                             </div>
                              <div class="form-group">
                              <label for="exampleInputBranchName">Language</label>
                              <select class="form-control" name="langs" required>
                                    <option selected disabled value="">Select</option>
                                    <option value="English" {% if enq.language == 'English' %}selected{% endif %}>English</option>
                                    <option value="Malayalam" {% if enq.language == 'Malayalam' %}selected{% endif %}>Malayalam</option>
                                    <option value="Kannada"{% if enq.language == 'Kannada' %}selected{% endif %}>Kannada</option>
                                    <option value="Tamil"{% if enq.language == 'Tamil' %}selected{% endif %}>Tamil</option>
                                    <option value="Hindi"{% if enq.language == 'Hindi' %}selected{% endif %}>Hindi</option>
                              </select>
                             </div>
                            {% endfor %}
                             
                          </div>
                        </div>
                      </div>
                    </div>
                  
              
              <div class="card-footer">
                {% if messages %}
        {% for message in messages %}
        <p style="color:green;">{{message}}</p> 
        {% endfor %}
        {% endif %}
        {%if enqedit == '1'%}
                  <button type="submit" class="btn btn-primary">Submit</button>
                  {%endif%}
                </div>
              </form>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
     
      </div>

      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
