{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Expire Item Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <!-- <a href="{% url 'storestockentry'%}">Add</a></li> -->
              <li class="breadcrumb-item active">Item</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- /.card -->

            <div class="card">
           <div class="scroll">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                   <tr>
                    <th>SL No</th>

                    <th>Store</th>
                    <th>Item</th>
                    <th>Supplier</th>
                    <th> Company </th>
                   
                    <th>Batch No</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Manufacture Date</th>
                    <th>Expiry Date</th>
                
                   <th>Rate</th>
                   

                  </tr>
                  </thead>
                  <tbody>
  {% for i in expiring_medicines %}
                  <tr>
                  
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.storenm.storename}}</td>
                    <td>{{i.itemnm.itemnm}}</td>
                    <td>{{i.suppliernm.shopname}}</td>
                    <td>{{i.Comapany_name.Comapany_name}}</td>
                    <td>{{i.Batch_no}}</td>
                    <td>{{i.qty}}</td>
                    <td>{{i.unt.unitname}}</td>
                    <td>{{i.Manufacturer_date}}</td>
                    <td>{{i.Expiry_date}}</td>
                    <td>{{i.Rate}}</td>
                    
                    
                  </tr>
                  

  {% endfor %}
                  </tbody>
                 
                </table>
              </div>
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}