{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Menu   Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {%if menuadd == '1'%}<a href="{% url 'menu' %}?menumanagement_id={{ idmngmnt }}">Add</a>
              {%endif%}</li>
              <li class="breadcrumb-item active"> Menu  </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- /.card -->

            <div class="card">
           <div class="scroll">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                   
                
                   <tr>
                    <th>SL No</th>
                    <th>Icon </th>
                    <th>Menu Heading  </th>
                    <th>Menu</th>
                    <th>Link</th>
                  <th>Status</th>
                    <th>Action</th>
                  
                  
                  </tr>
                  </thead>
                  <tbody>
  {% for i in objmenu %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.icon}}</td>
                    <td>{{i.menuheadingname.menuheadingname}}</td>
                    <td>{{i.menuname}}</td>
                    <td>{{i.link}}</td>
                    <td>{{i.status}}</td>
                    <td>
                      {%if menuedit == '1'%}
                 <a href="{% url 'menuedit'%}?ids={{i.id}}"><i class="nav-icon " style="width:20px"><img src="{% static 'assets/dist/img/icons/edit.svg'%}"  class=" img-squre "  style="width:20px"></i></a>
                 {%endif%}
                 {%if menudelete  == '1'%}
                     <a href="{% url 'delmenu'%}?ids={{i.id}}"><i class="nav-icon " style="width:20px"><img src="{% static 'assets/dist/img/icons/delete.svg'%}"  class=" img-squre "  style="width:20px"></i></a>

                      {%endif%}   </td>
                  </tr>
                  

  {% endfor %}
                  </tbody>
                 
                </table>
              </div>
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 {% endblock %}