{% extends 'base.html' %}
{% load static %}
{% block content %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Reorder Level Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {%if rordmgmntview == '1' %}<a href="{% url 'reorderview'%}?menumanagement_id={{ idmngmnt }}">View All</a>
              {%endif%}</li>
              <li class="breadcrumb-item active">Reorder Level</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Reorder Level</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <!-- <i class="fas fa-minus"></i> -->
                </button>
              </div>
            </div>
             <form method="POST", action="{% url 'reorderlevel' %}?menumanagement_id={{ idmngmnt }}">
                {% csrf_token %}
      <div class="row">
          <div class="col-md-6">
              <div class="card">
             
                <div class="card-body">
                
                <div class="form-group">
                    <label for="exampleInputEmail1"> Company</label>
                    <input type="text" class="form-control" id="searchcompany" placeholder="Search for company...">
                    
                    <select class="form-control" id="mdcompany" name="mdcompany" required>
                      <option  selected disabled value="">Select</option>
                         {% for i in comp %}
                              <option value="{{i.id}}">{{i.Comapany_name}}</option>
                          {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                   <label for="exampleInputEmail1">Item</label> 
                   <input type="text"  class="form-control"  id="searchInput" placeholder="Search for item ...">
                       
                    <select class="form-control" id="item" name="item" required>
                      <option  selected disabled value="">Select</option>
                         {% for i in item %}
                              <option value="{{i.id}}">{{i.itemnm}}</option>
                          {% endfor %}
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantity</label>
                        <input type="text" class="form-control" id="qty" name="qty" required>
                    </div>

                 
                </div>
              </div>
            </div>
                
            
          </div>
        
                <div class="card-footer">
                    {% if messages %}
                            {% for message in messages %}
                            <p style="color:green;">{{message}}</p> 
                            {% endfor %}
                    {% endif %}
   
    {%if rordmgmntadd == '1' %}
                  <button type="submit" class="btn btn-primary">Submit</button>
                {%endif%}
                </div>
              </form>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
     
      </div>

      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
   $(document).ready(function() {
    $('#searchcompany').keyup(function() {
        var query = $(this).val();
        
        if (query.length >= 3) {
            $.ajax({
                url: "{% url 'search_company' %}",
                data: {
                    'term': query
                },
                dataType: 'json',
                success: function(data) {
                    $('#mdcompany').empty();
                    if (data.length > 0) {
                        $.each(data, function(index, item) {
                            $('#mdcompany').append('<option value="' + item.company_id + '">' + item.company_name + '</option>');
                        
                        });
                    } else {
                        $('#mdcompany').append('<option value="" disabled selected>No matching company found</option>');
                    }
                    $('#mdcompany').trigger('change');
                }
            });
        } else {
            $('#mdcompany').empty();
        }
    });  

    // medicine search
    $('#searchInput').keyup(function() {
        var query = $(this).val();
        if (query.length >= 3) {
            $.ajax({
                url: "{% url 'search_medicine' %}",
                data: {
                    'term': query
                },
                dataType: 'json',
                success: function(data) {
                    $('#item').empty();
                    if (data.length > 0) {
                        $.each(data, function(index, item) {
                            $('#item').append('<option value="' + item.item_id + '">' + item.item_name + '</option>');
                          
                        });
                    } else {
                        $('#item').append('<option value="" disabled selected>No matching item found</option>');
                    }

                    // Trigger the change event on searchResults dropdown to select the first option
                    $('#item').trigger('change');
                }
            });
        } else {
            $('#item').empty();
        }
    }); 
   
});

</script>

   
  
 {% endblock %}