{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Store Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {%if storeview == '1'%}
                  <a href="{% url 'allstore' %}?menumanagement_id={{ idmngmnt }}">View All</a>
                {%endif%}
              </li>
              <li class="breadcrumb-item active">Store</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-8">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Store</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <!-- <i class="fas fa-minus"></i> -->
                </button>
              </div>
            </div>
             <form method="POST", action="{% url 'editstore' %}?menumanagement_id={{ idmngmnt }}">
            
                {% csrf_token %}
     
                <div class="card-body" >
              
                  <div class="form-group">
                   <label for="exampleInputBranchName">Store</label>
                    <input type="text" class="form-control" id="exampleInputAddress" value="{{objstore.storename}}" name="stname" placeholder="Enter Store" required> 
                    <input type="hidden" class="form-control" id="exampleInputAddress" value="{{objstore.id}}" name="id" placeholder="Enter Store" required> 
                    
                  </div>
                 
                </div>
              
              <div class="card-footer">
                {% if messages %}
        {% for message in messages %}
        <p style="color:green;">{{message}}</p> 
        {% endfor %}
        {% endif %}
        {%if  storeedit == '1'%}
                  <button type="submit" class="btn btn-primary">Submit</button>
        {%endif%}
                </div>
              </form>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
     
      </div>

      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}