{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Appointment Details{{stdesign}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
             
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- /.card -->

            <div class="card">
           <div class="scroll">
              <!-- /.card-header -->
              <div class="card-body">
               
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>SL NO</th>
                    <th>Token Number</th>
                    <th>Patient Name</th>
                   
                    <th>Doctor Name</th>
                    
                    <th>Contact Number</th>
                    <th>Appointment Date</th>
                    <th>Booked Time</th>
                    <th>Status</th>
                    
                     <th>View Casehistory</th>
                    <th>Action</th>

                  </tr>
                  </thead>
                  <tbody>
            {% for row in appointments %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ row.appointment.Tokenno }}</td>
    <td>{{ row.appointment.MR_Number.Patient_Name }}</td>
    <td>{{ row.appointment.Doctor_Name.Staff_firstname }}</td>
    <td>{{ row.appointment.contactno }}</td>
    <td>{{ row.appointment.Appointment_date }}</td>
          <td>
        {% if row.appointment.visit_start_time %}
          {{ row.appointment.visit_start_time|time:"h:i A" }}
          –
          {{ row.appointment.visit_end_time|time:"h:i A" }}
        {% else %}
          --
        {% endif %}
      </td>
    <td>
        {% if row.consulted %}
            ✅ Consulted
        {% else %}
            ⏳ Pending
        {% endif %}
    </td>
<td> <center><a href="{% url 'casehistory_view' %}?ids={{ row.appointment.MR_Number_id }}" title="View">
            <i class="fas fa-eye"></i>
        </a></center></td>

       
    <td>
      <a href="{% url 'create_casehistory' %}?ids={{ row.appointment.MR_Number_id }}">New Prescription</a>
      <a href="{% url 'editappointment'%}?ids={{ row.appointment.id }}">
        <img src="{% static 'assets/dist/img/icons/edit.svg'%}" style="width:20px">
      </a>
      <a href="{% url 'delappointment'%}?ids={{ row.appointment.id }}" onclick="return confirm('Do You really want to delete this data?')">
        <img src="{% static 'assets/dist/img/icons/delete.svg'%}" style="width:20px">
      </a>
    </td>
  </tr>
{% endfor %}

                  </tbody>
                 
                </table>
              </div>
           
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{%endblock%}